.katex-display {
  display: block;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent;
  /* border-radius: 0.5em; */
  padding: 2em;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .katex-display {
    background-color: transparent;
    display: flex !important;

    .katex {
      /* font-size: 1.5em; */
      color: #000;
    }
  }

  .katex-display:hover {
    /* background-color: #F2F2F2; */

    /* --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */

    .katex {
      color: #E63946;
      /* background-color: transparent; */
    }
  }

  .katex:hover {
    /* font-size: 1.5em; */
    color: #E63946;
    /* background-color: #F2D7D5; */
  }
}

.katex {
  color: #2D2D2D;
  padding: 0.1em 0.3em;
  margin: 0em 0.1em;
  width: auto;
  /* Tomato color for example */
  font-size: 1.6em;
  /* Increase the size of the formula */
  /* padding: 0.2em 0.4em; */
  text-align: left !important;
  /* width: fit-content; */
  transition: color 0.3s ease-in-out;
}

.katex .katex-html {
  display: inline;
  width: fit-content;
  /* overflow: scroll; */
}

.katex .katex-html .newline {
  margin: 0.4em;
}

.base {
  display: flex;
  flex-wrap: wrap;
}

.katex .mord {
  color: inherit;
  font-size: 1em;
  /* Ensure the inherited color is applied */
}

.katex .mord.text {
  /* color: #D3D3D3; */
  font-style: italic;
  text-transform: uppercase;
  font-size: 0.6em;
  /* margin: 0 1em; */
}

.katex .mspace {
  color: inherit;
  font-size: 1.2em;
  /* Ensure the inherited color is applied */
}