@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 235;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

p>img {
  display: block;
  margin: 0 auto;
  /* Centers the image horizontally */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.fade-in-opacity {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in-visible {
  animation: fadeIn 2s forwards;
}

.fade-out-visible {
  animation: fadeOut 2s forwards;
}

header {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Times New Roman', Times, serif;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: white;
}

footer {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Asriel';
  src: url('/fonts/Asriel-Regular.woff2') format('woff2'),
    url('/fonts/Asriel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asriel';
  src: url('/fonts/Asriel-Bold.woff2') format('woff2'),
    url('/fonts/Asriel-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Custom class */
.distribute-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.text-xxs {
  font-size: 0.625rem;
  /* 10px */
}

.text-xxl {
  font-size: 10rem;
  /* 10px */
}

.px {
  height: 1px;
}

.text-indent {
  text-indent: 2em;
  /* Adjust the value as needed */
}

.bg-domuki-logo {
  background-image: url('/images/domukilogo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-sketch {
  position: relative;
  overflow: hidden;
}

.bg-sketch::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/sketch.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.bg-logo {
  position: relative;
  overflow: hidden;
}

.bg-logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/domukilogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: inherit;
  opacity: 0.2;
  z-index: -1;
}

.bg-domukiphoto {
  position: relative;
  overflow: hidden;
}

.bg-domukiphoto::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/domukiphoto001.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.bg-latest-album {
  position: relative;
  overflow: hidden;
}

.bg-latest-album::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/latest_album.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.gradient-bg-white-transparent {
  background: linear-gradient(to bottom, white, transparent);
}

/* styles/globals.css */
.youtube-previewer {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
}

.youtube-previewer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* custom-background-wrapper (zoom out when hover)  */

.custom-background-wrapper {
  position: relative;
  overflow: hidden;
  height: 600px;
  /* Adjust height as needed */
}

.custom-background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/latest_album.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
  transition: transform 0.3s ease;
}

.custom-background-wrapper:hover::before {
  transform: scale(1.1);
  /* Zoom effect on hover */
}

.custom-background-wrapper .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 50px 20px;
  /* Adjust padding as needed */
}

.parallax-section {
  position: relative;
  height: 100vh;
  /* Full height section */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.parallax-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/composing.png') no-repeat center center fixed;
  /* Background image */
  background-size: cover;
  /* Ensure the image covers the section */
  filter: blur(2px);
  /* Apply blur effect */
  z-index: -1;
  /* Ensure background is behind the content */
  /* opacity: 0.5; */
}

.parallax-section .content {
  z-index: 1;
  /* Ensure content is above the background */
  padding: 20px;
}

.code-block-head {
  font-family: Arial, sans-serif; /* Example font family */
  font-size: .875rem;
  background-color: #f8f8f8;
  border: 1px solid #d0d7de;
}

.custom-syntax-pre {
  margin: 0 !important;
  border: 0 !important;
  /* border-radius: 0; */
  /* background-color: #333333 !important; */
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #d0d7de !important;
  font-size: .875rem !important;
}

.custom-syntax-pre code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

.custom-syntax-pre:hover {
  background-color: #fdfdfd !important;
}